/* Eric Meyer's CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles */

body {
  font-family: 'Mallanna', sans-serif;
}
h1 {
  font-size: 3.4em;
  font-weight: bold;
}
h2 {
  font-size: 2.2em;
  font-weight:bold;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 8px;
  margin-top: 8px;
}
p, a {
  font-size: 1.4em;
}
a {
  text-decoration:none;
  color:inherit;
}

@media only screen and (min-width:620px) {
.main > div:nth-child(odd) {
  background-color: #6E5540;
}
}

/* via paletton.com */
.color-primary-0 { color: #AA6C39 }	/* Main Primary color */
.color-primary-1 { color: #322D29 }
.color-primary-2 { color: #6E5540 }
.color-primary-3 { color: #E67314 }
.color-primary-4 { color: #FF7400 }
.bg-primary-0 { background-color: #AA6C39 }	/* Main Primary color */
.bg-primary-1 { background-color: #322D29 }
.bg-primary-2 { background-color: #6E5540 }
.bg-primary-3 { background-color: #E67314 }
.bg-primary-4 { background-color: #FF7400 }

.strike {
  text-decoration: line-through;
  opacity: 0.6;
}

/* The navigation top bar */

nav {
  height:64px;
  display:flex;
  align-items: center;
  padding: 0 24px;
}
nav .logo {
  display:flex;
  align-items:center;
}
@media only screen and (max-width: 600px) {
  nav > .logo, nav .navitems a, nav .navitems li.for-companies {
    display:none;
  }
  nav .navitems {
    width: 100%;
  }
  nav ul {
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
  nav .navitems li {
    width: 28px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav .navitems .logo {
    background: url('../images/ic-logo.svg');
  }
  nav .navitems .on-campus {
    background: url('../images/ic-on-campus.svg');
  }
  nav .navitems .online {
    background: url('../images/ic-online.svg');
  }
  nav .navitems .sign-in {
    background: url('../images/ic-login.svg');
  }
}
@media only screen and (min-width: 601px) {
  nav .navitems .logo {
    display:none;
  }
  nav .logo img {
    height:32px;
    display:inline-block;
  }
  nav .logo .name {
    position:relative;
    top:-0.1em; /* it looks a little bit low, so raise it */
    text-transform: uppercase;
    font-family: 'Suranna', serif;
    font-size:1.4em;
  }
  nav .logo .name .proper {
    font-weight:bold;
  }
  nav .navitems {
    flex-grow:1;
    margin-left: 24px;
  }
  nav li {
    list-style:none;
    margin-left: 16px;
    text-align:center;
  }
  nav ul {
    display:flex;
    justify-content:flex-end;
    align-items: center;
  }
}

/* the remainder */

.main {
  width: 100%;
}

/* The first panel */

.biggie .text .button {
  text-align:center;
  font-size: 2em;
  font-weight:bold;
  margin-top:1em;
  padding-top:8px;
  padding-bottom:8px;
  border-radius:8px;
}
@media only screen and (max-width:949px) {
.biggie img {
  width: 100%;
  height: auto;
}
.biggie .text {
  margin: 0 16px;
  padding: 32px 0;
}
.biggie .text h2 {
  margin-top: 32px;
  margin-bottom:24px;
}
.biggie .text .button {
  max-width: 480px;
  margin: 0 auto;
}
}
@media only screen and (min-width:950px) {
.biggie {
  display:flex;
  align-items: center;
  padding: 32px 24px;
}
.biggie .container {
  width:60%;
  height:auto;
  overflow:hidden;
}
.biggie img {
  max-width:60%;
  height:auto;
  display:block;
}
.biggie .text {
  padding-left: 12px;
  margin-left: 12px;
  max-width:30%;
}
.biggie .text h2 {
  margin-top:0.6em;
}
}

/* The second panel */

p.attribution {
  font-size: 0.9em;
  margin-top:1em;
}
.sidestory {
  transition: background-color 0.3s;
}
.storypanel .sidestory:hover {
  background-color: #6E5540;
}
@media only screen and (max-width:800px) {
  .panel-2 .full {
    display:none;
  }
  .panel-2 .mobile {
    width:100%;
    height: auto;
  }
  .panel-2 .mainstory {
    display:none;
  }
  .panel-2 .storycontent .sidestories {
    display:flex;
    flex-direction: column;
  }
  .panel-2 .storycontent .sidestory {
    padding:16px;
    margin-bottom:48px;
  }
  .panel-2 .storycontent .detail {
    margin: 16px;
  }
  /* and now the last panel on the page */
  .panel-4 > h1 {
    padding-top: 32px;
    margin: 0px 0 16px 0;
    text-align: center;
  }
  .panel-4 video {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
  .panel-4 .sidestories, .panel-4 .mainstory .text {
    display:none;
  }
}
@media only screen and (min-width:801px) {
.storypanel .mobile {
  display: none;
}
.storypanel {
  padding-top: 32px;
  padding-bottom:32px;
}
.storypanel > h1 {
  margin-bottom: 32px;
  text-align: center;
}
.storypanel .storycontent {
  display:flex;
}
.storypanel .storycontent .mainstory {
  flex-basis:60%;
  flex-grow:6;
  margin-left: 24px;
  margin-right: 24px;
}
.mainstory img, .mainstory video {
  width: 100%;
  height: auto;
}
.storypanel .storycontent .sidestories {
  flex-basis:40%;
  flex-grow:4;
  border-left: solid 1px #694f44;
}
.storypanel .storycontent .mainstory h1 {
  margin-top:32px;
  margin-bottom:24px;
}
.storypanel .storycontent .sidestory:first-child {
  border-top: none;
}
.storypanel .storycontent .sidestory {
  padding: 16px;
  border-bottom: solid 1px #694f44;
  border-top: solid 1px #694f44;
  margin-bottom: 1px;
  display:flex;
  align-items: center;
}
.storypanel .storycontent .sidestory img {
  width:35%;
  height:auto;
}
.storypanel .storycontent .sidestory .detail {
  width: 65%;
  margin-left: 16px;
}
}

/* the third panel */

.panel-3 h1 {
  text-align:center;
}
@media only screen and (max-width:500px) {
  .panel-3 > h1 {
    margin-bottom: 16px;
  }
  .panel-3 .learnbox img, .panel-3 .learnbox h3, .panel-3 .learnbox p {
    display:none;
  }
  .panel-3 .learnbox .detail h2 {
    padding: 16px 16px 24px 16px;
    margin-bottom:8px;
    background-color: #6E5540;
    border-radius: 8px;
  }
  .panel-3 {
    padding: 0 16px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width:501px) {
.panel-3 {
  padding-top: 32px;
  /* the extra 16px comes from the .learnbox */
  padding-left: 56px;
  padding-right:56px;
}

.panel-3 .courses {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-top: 32px;
}

.panel-3 .learnbox img {
  height:auto;
  width: 100%;
}

.panel-3 .learnbox .detail {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom:24px;
}

.panel-3 .learnbox {
  flex-basis: 25%;
  flex-grow:1;
  margin-left: 16px;
  margin-right: 16px;
  background-color: white;
  margin-bottom: 32px;
}
}
